/* Optional custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #f97316; /* orange-500 */
  border-radius: 9999px;     /* rounded-full */
}
::-webkit-scrollbar-track {
  background-color: white;
}
