@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/Fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family:"poppins" ;
  src: url('./assets/Fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family:"baloo" ;
  src: url('./assets/Fonts/Baloo_2/Baloo2-VariableFont_wght.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
