@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayfairDisplay';
  src: url('./assets/Fonts/PlayfairDisplay-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Martel';
  src: url('./assets/Fonts/Martel/Martel-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
